<!DOCTYPE html>
<html lang="en">
    <%- include ("./include/head") %>
    <% 
        nf = Intl.NumberFormat() 
        function resort(arr){
            arr.sort(function(a, b) {
              var keyA = a.count, keyB = b.count;
              if (keyA < keyB) return -1;
              if (keyA > keyB) return 1;
              return 0;
            });
        }
        resort(list);
    %>
    <body>
        <script src="./tools.js"></script>
        <%- include ("./include/nav") %>
        <div class="container">
            <div class="row">
                <h4>Tools</h4>
            </div>
            <div>
                <input type="text" id="inputName" placeholder="Thêm mã cổ Phiếu">
                <input type="text" id="inputIndex" placeholder="Dòng">
                <button onclick="addCp()">Thêm</button>
            </div></br>
            <div class="row3" style="width: max-content;">
                <table class="table table-striped" id="listTable" >
                    <thead class="thead-light">
                        <th scope="col"><h6>Mã cổ phiếu</h6></th>
                        <% list.forEach(item => {
                            if(item.count %2 == 0) { %>
                            <th scope="col"><%= item.time %></th>
                        <%   }
                        }) %> 
                    </thead>
                    <tbody>
                        <% 
                            cp.data.forEach((coPhieu, idx) => {
                            avg = cp.value[idx][0];
                            if(typeof avg === 'undefined') avg = '0'
                            avg = parseInt(avg.replace(/\./g, ""))
                            color = cp.value[idx][1]
                            if(color == null) color = "#ffa500"
                         %>
                            <tr style="color: <%= color %>">
                                <td>
                                    <p style="font-size:130%; color: white; background-color: <%= color %>" title="<%= nf.format(avg) %>"><%= idx+1 + ". " + coPhieu %></p>
                                    <button onclick="removeCp('<%= coPhieu %>')" type="button">X</button>
                                </td>
                            <% 
                                list.forEach(item => { 
                                    if(item.count %2 == 0) {
                                        i = item.data.find(x => x.name === coPhieu);
                                        if(typeof i != 'undefined'){
                                            vol = i.vol + '0'

                                            time = item.time.split(":");
                                            hh = parseInt(time[0])
                                            mm = parseInt(time[1])
                                            rest = 0;
                                            if(hh >= 13) rest = 90
                                            timeCount = (hh-9)*60 + mm - rest
                                            
                                            if(typeof vol === 'undefined') vol = '0';
                                            vol1 = Math.round(parseInt(vol.replace(/,/g, ""))*270/timeCount)
                                            volNew = nf.format(Math.round(parseInt(vol.replace(/,/g, ""))*270/timeCount))
                            %>
                                            <td><text title="<%= volNew %>"><%= (vol1/avg).toFixed(2) %></text></td>
                            <% 
                                        }
                                    }
                                }) 
                            %>
                            </tr>
                        <% 
                            }) 
                        %> 
                    </tbody>
                </table>  
        </div>       
        <%- include ("./include/footer") %>
        <%- include ("./include/scripts") %>
    </body>
    <script language="javascript">
        setInterval(function(){
           window.location.reload(1);
        }, 1*60000);
    </script>
</html>